<section>
<h1 >INFO</h2>
<div >Directorio actual de trabajo: {{this.currentDir}}</div>
<div >Id del proceso: {{this.idProc}}</div>
<div >Version de Node: {{this.vNode}}</div>
<div >Sistema operativo: {{this.os}}</div>
<div >Directorio de ejecución: {{this.execPath}}</div>
<div >Uso de de la memoria - rss: {{this.memortRss}}</div> 
<div >Argumentos de Entrada: {{this.argv}}</div> 
</section>
  